* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid rgb(211, 209, 209);
  object-fit: contain;
}

.app_signup{
  display:flex;
  flex-direction: column;
}

.app_signup img{
  object-fit: contain;
  max-width: 375px;
}
